/GestorTareas/BasesDatos/target/
/GestorTareas/Gui/target/
/GestorTareas/Actualizaciones/target/
/GestorTareas/Gui/nbproject/
/GestorTareas/target/
/GestorTareas/javafx-sdk-21.0.3
/GestorTareas/jdk-21.0.3.jdk
